<div class="row">
	<div class="col-md-2" style="text-align: center;">
		<h5><b>Inventory</b></h5>
	</div>
	<div class="col-md-2" style="text-align: center;  ">
		<select class="form-control form-control-sm custom-input-style">
        <option>Category</option>
      </select>
	</div>
	<div class="col-md-2" style="text-align: center;">
		<select class="form-control form-control-sm custom-input-style">
        <option>Product</option>
      </select>
	</div>
	<div class="col-md-3" style="text-align: center;  ">
		<input class="form-control form-control-sm custom-input-style" type="text" placeholder="Quick Search">
    </div>
		<div class="col-md-2" style="text-align: right;">
			<h5><span class="badge badge-pill bg-info"><a href="#" style="text-decoration: none; color: white;">+ Add product</a></span>
			</h5>
		</div>
		<div class="col-md-1" style="text-align: right;">
			<span class="badge badge-pill badge-info"><i class='fas fa-info'></i></span>
			<span class="badge badge-pill badge-info"><i class='fas fa-filter'></i></span>
		</div>
	</div>

	<div class="row list-custom-headings bg-info">
		<div class="col-md-1">#</div>
		<div class="col-md-3">Product Name</div>
		<div class="col-md-3">Category</div>
		<div class="col-md-1">Cost</div>
		<div class="col-md-1">Price</div>
		<div class="col-md-2">Stock Status</div>
	</div>
	<hr>

<div *ngFor="let product of products">
    
	<div id="{{product}}">
		<div class="row" style="margin-top: 2%; text-align: center;">
			<div class="col-md-1"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
				<div class="col-md-3">Silky Creamy stream moisture</div>
				<div class="col-md-3">Cosmetic</div>
				<div class="col-md-1"><i class='fas fa-rupee-sign'></i>4.09</div>
				<div class="col-md-1"><i class='fas fa-rupee-sign'></i>10.00</div>
				<div class="col-md-2">
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
							role="progressbar" style="width: 89.34%" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100">20/23</div>
					</div>
				</div>
				<div class="col-md-1">
					<span class="badge badge-pill badge-info"><i class='fas fa-angle-down' id="{{product}}_down" (click)="expandProduct(product)"></i><i class='fas fa-angle-up' id="{{product}}_up" (click)="restoreProduct(product)" style="display: none;"></i></span>
				</div>
			</div>

			<div id="{{product}}_content" class="row" style="margin-top: 2%; display: none;"> 
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<small>Display name</small><input class="form-control form-control-sm custom-input-style" type="text" value="Silky Creamy stream moisture"><br>
					<small>Total Stock</small><input class="form-control form-control-sm custom-input-style" type="text" value="23"><br>
					<small>In Rack</small><input class="form-control form-control-sm custom-input-style" type="text" value="20"><br>
              </div>
					<div class="col-md-3">
						<small>Category</small>
						<select class="form-control form-control-sm custom-input-style">
                  <option>Cosmetic</option>
                </select><br>
						<small>Cost</small><input class="form-control form-control-sm custom-input-style" type="text" value="4.09"><br>

              </div>
						<div class="col-md-3">
							<small>Price</small><input class="form-control form-control-sm custom-input-style" type="text" value="10.00"><br>
							<small>Reserved Stock</small><input class="form-control form-control-sm custom-input-style" type="text" value="3"><br><br><br>
							<h5 style="float: right">
								<span class="badge badge-pill bg-info"><a href="#" style="text-decoration: none; color: white;">Save</a></span>
							</h5>
						</div>
					</div>
				</div>
        <hr>
</div>