<div id="sideNav" class="custom-side-nav" id="sideNav">
	<nav class="navbar ">
		<ul class="navbar-nav" id="collapsibleNavbar">
			<li class="nav-item">
				<a class="nav-link" routerLink="/Dashboard"
					title="Dashboard"><i class='fas fa-table custom-nav-icons text-info'></i><br>
          <small class='text-info' [hidden]="!commonService.sideNavExpanded">Dashboard</small>
        </a>
			</li><br>
			<li class="nav-item active-custom-style">
				<a class="nav-link" routerLink="/Invoices" 
          title="Invoices"><i class='fas fa-shopping-cart custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Sells Invoices</small>
        </a>
			</li><br>
      <li class="nav-item active-custom-style" (mouseover)="rightDropDown=true" (mouseout)="rightDropDown=false">
        <span class="custom-right-dropdown custom-side-nav" [hidden]="!rightDropDown">
            <small><a class="text-info custom-right-dropdown-content" href="#">New Order</a></small>
            <hr>
            <small><a class="text-info custom-right-dropdown-content"href="#">All Orders</a></small>
            <hr>
            <small><a class="text-info custom-right-dropdown-content"href="#">All Orders</a></small>
        </span>
				<a class="nav-link" routerLink="/Purchase-Invoices" title="Invoices">
          <i class='fas fa-clipboard-check custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Purchase Invoices</small>
        </a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" routerLink="#"
					title="Customers"><i class='far fa-address-card custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Customers</small>
        </a>
			</li><br>
			<li class="nav-item ">
				<a class="nav-link" routerLink="/Inventory"
					title="Inventory"><i class='fas fa-boxes custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Inventory</small>
        </a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" routerLink="#"
					title="Billing"><i class='fas fa-money-check-alt custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Billing</small>
        </a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" routerLink="#"
					title="Calendar"><i class='far fa-calendar-alt custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Calendar</small>
        </a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" routerLink="#"
					title="Reports"><i class='fas fa-chart-line custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Reports</small>
        </a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" routerLink="#"
					title="File Uploads"><i class='fas fa-upload custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Uploads</small>
        </a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" routerLink="#"
					title="Configurations"><i class='fas fa-cogs custom-nav-icons text-info'></i><br>
          <small class='text-info side-nav-text' [hidden]="!commonService.sideNavExpanded">Configs</small>
        </a>
			</li><br>
            </ul>
	</nav>
  