
	<nav class="navbar ">
		<ul class="navbar-nav" id="collapsibleNavbar">
			<li class="nav-item">
				<a class="nav-link" href="#"
					title="Dashboard"><i class='fas fa-table custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item active-custom-style">
				<a class="nav-link" href="#"
					title="Invoices"><i class='fas fa-shopping-cart custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" href="#"
					title="Customers"><i class='far fa-address-card custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item ">
				<a class="nav-link" href="learning_front_end.html"
					title="Inventory"><i class='fas fa-boxes custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" href="#"
					title="Billing"><i class='fas fa-money-check-alt custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" href="#"
					title="Calendar"><i class='far fa-calendar-alt custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" href="#"
					title="Reports"><i class='fas fa-chart-line custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" href="#"
					title="File Uploads"><i class='fas fa-upload custom-nav-icons text-info'></i></a>
			</li><br>
			<li class="nav-item">
				<a class="nav-link" href="#"
					title="Configurations"><i class='fas fa-cogs custom-nav-icons text-info'></i></a>
			</li><br>
            </ul>
	</nav>